{% extends 'base.html' %}

{% block title %}Contact Us - Zhinos Empire{% endblock %}

{% block content %}
<section class="contact">
    <h2>Contact Us</h2>
    <p>We’d love to hear from you! Reach out to us via the details below.</p><br>
    <div class="line"></div>

    <div class="contact-details">
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p><strong>Address:</strong> ZHINOS EMPIRE LIMITED --Boulevard - Abuja, A06, 2012, Ibrahim Babangida Blvd, Maitama, Abuja FCT.</p><br><br>
            
        </div>

        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <p><strong>Phone:</strong> <a href="tel:+2348180031902">0818 003 1902 | 07036542251 | 07041940969</a></p>
        </div>

        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <p><strong>Email:</strong> <a href="mailto:zhinosempirelimited@gmail.com">zhinosempirelimited@gmail.com</a></p>
        </div>

        <div class="contact-item">
            <i class="fas fa-map"></i>
            <p><strong>Google Maps:</strong> <a href="https://g.co/kgs/hQvGTJi" target="_blank">View Location</a></p>
        </div>
    </div>

{% endblock %}
