<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Visa Types and Countries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
<body>
<section class="hero">
    <div class="hero-text">
        <h1><i>Welcome to Our Official Website</i></h1>
        <a href="{{ url_for('services') }}" class="cta-button">Get Started</a>
    </div>
</section>
</body>
</html>
