{% extends 'base.html' %}

{% block title %}Login - Zhinos Empire{% endblock %}

{% block content %}
<section class="login-form">
    <h2>Authorized Login</h2>
    <img src="/static/images/avatar.jpg">
    <p>This section is for authorized users. Kindly contact admin if you are denied access.</p><br><br>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</section>
{% endblock %}
